@import url('fonts/tofino-200.css');
@import url('fonts/tofino-300.css');
@import url('fonts/tofino-500.css');
@import url('fonts/tofino-800.css');

/* basic block formatting */
:root {
  --lh: 1.5rem;
  --fs: 1.125rem;
  --lh-half: calc(var(--lh) / 2);
  --lh-double: calc(var(--lh) * 2);
  --fs-double: calc(var(--fs) * 2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
header {
  padding: var(--lh-half) var(--lh);
}
main > section {
  margin: 0;
  padding: var(--lh);
}
footer {
  margin: 0;
  padding: var(--lh-half) var(--lh);
}

/* color palette */
:root {
  --bg-color: hsl(15, 5%, 100%);
  --bg-subtle: hsl(15, 33%, 90%);
  --text-color: hsla(15, 15%, 10%, 0.875);
  --text-subtle: hsla(15, 10%, 33%, 0.75);
  --accent-color: hsl(195, 100%, 33%);
  --accent-subtle: hsl(195, 67%, 50%);
  --rainbow-1: hsl( 15, 33%, 90%);
  --rainbow-2: hsl( 60, 33%, 90%);
  --rainbow-3: hsl(105, 33%, 90%);
  --rainbow-4: hsl(150, 33%, 90%);
  --rainbow-5: hsl(195, 33%, 90%);
  --rainbow-6: hsl(240, 33%, 90%);
  --rainbow-7: hsl(285, 33%, 90%);
  --rainbow-8: hsl(330, 33%, 90%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(15, 5%, 0%);
    --bg-subtle: hsl(15, 33%, 10%);
    --text-color: hsl(15, 15%, 80%);
    --text-subtle: hsl(15, 10%, 50%);
    --accent-color: hsl(195, 100%, 67%);
    --accent-subtle: hsl(195, 67%, 33%);
    --rainbow-1: hsl( 15, 50%, 10%);
    --rainbow-2: hsl( 60, 50%, 10%);
    --rainbow-3: hsl(105, 50%, 10%);
    --rainbow-4: hsl(150, 50%, 10%);
    --rainbow-5: hsl(195, 50%, 10%);
    --rainbow-6: hsl(240, 50%, 10%);
    --rainbow-7: hsl(285, 50%, 10%);
    --rainbow-8: hsl(330, 50%, 10%);
  }
}


/* typography */
body {
  font-family: 'Tofino', -apple-system, system-ui, sans-serif;
  font-weight: 300;
  font-size: var(--fs);
  line-height: var(--lh);
  text-rendering: optimizeLegibility;
  color: var(--text-color);
  background-color: var(--bg-color);
}
h1 {
  font-size: calc(var(--fs) + var(--lh));
  line-height: var(--lh-double);
  font-weight: 800;
  color: var(--accent-color);
}
h2 {
  font-size: calc(var(--fs) + var(--lh-half));
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-subtle);
}
.dek {
  font-size: var(--lh);
  font-weight: 200;
}
p {
  max-width: calc(30 * var(--fs));
}
ul {
  margin: var(--lh-half) 0;
}
b, strong {
  font-weight: 500;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-color);
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-subtle);
  text-decoration-width: 1px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-skip: skip;
  text-decoration-skip-ink: auto;
}
@media screen and (max-width: 25em) {
  :root {
    --lh: 1.25rem;
    --fs: 1rem;
  }
}

/* header styles */
header > * {
  margin: 0 auto var(--lh);
}
header h1,
header .dek,
header ul {
  text-align: center;
}
header .headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 24vmin;
  height: 24vmin;
  border-radius: 12vmin;
  overflow: hidden;
}
header .headshot img {
  display: block;
  width: 150%;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
header .social a {
  display: block;
  padding: var(--lh-half);
  border-radius: var(--lh);
}
header .social a:active, 
header .social a:focus, 
header .social a:hover {
  color: var(--bg-color);
  background-color: var(--accent-color);
  box-shadow: 0 0 var(--lh-half) var(--accent-subtle);
}
header .social a i {
  display: block;
}
header .social a i svg {
  display: block;
  width: var(--lh);
  height: var(--lh);
}
header .social a span {
  position: absolute;
  left: -999em;
  display: block;
  width: 0;
  overflow: hidden;
}
/* header .contact {
  padding-left: var(--lh-double);
} */

/* main content styles */
main {
  background-color: var(--bg-subtle);
}
main h2 {
  text-align: center;
}
main p {
  margin-left: auto;
  margin-right: auto;
}
main h2 + p,
main p + p {
  margin-top: var(--lh);
}
main > section {
  box-shadow: 0 -0 var(--lh-half) var(--text-subtle);
}
main > section:nth-child(1) {
  background-color: var(--rainbow-1);
}
main > section:nth-child(2) {
  background-color: var(--rainbow-2);
}
main > section:nth-child(3) {
  background-color: var(--rainbow-3);
}
main > section:nth-child(4) {
  background-color: var(--rainbow-4);
}
main > section:nth-child(5) {
  background-color: var(--rainbow-5);
}
main > section:nth-child(6) {
  background-color: var(--rainbow-6);
}
main > section:nth-child(7) {
  background-color: var(--rainbow-7);
}
main > section:nth-child(8) {
  background-color: var(--rainbow-8);
}

/* footer styles */
footer .copyright {
  font-size: calc(var(--fs) * 0.875);
}

/* grid for desktop */
@media screen and (min-width: 40em) {
  body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 0;
    grid-template:
      "header main" 1fr
      "footer main" auto
    / minmax(22rem, 2fr) 3fr;
  }
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  header > * {
    margin: 0 auto;
  }
  main {
    grid-area: main;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  footer {
    grid-area: footer;
  }
}

/* motion */
html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }
}
